::ng-deep {
    .input {
        &-field {
            display: grid;
            gap: 5px;
            flex-direction: column;
        }

        &-row {
            display: grid;
            gap: 5px;
            align-items: flex-end;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    table {
        width: 100%;

        td > * {
            width: 95%;
        }
    }
}