<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Price
		</th>
		<th>
			Advantages
		</th>
	</tr>
	<tr *ngFor="let plan of plans; let i = index;">
		<td width="25%">
			<input type="text" name="plans.name" id="plans.name" [(ngModel)]="plan.name" (ngModelChange)="updateCourse()">
		</td>
		<td width="25%">
			<input type="text" name="plans.price" id="plans.price" [(ngModel)]="plan.price" (ngModelChange)="updateCourse()">
		</td>
		<td width="50%">
			<details>
				<summary>
					Advantages
				</summary>
				<app-editor-course-plans-advantages [advantages]="plan.advantages" (updateCourseEvent)="updateCourse()"></app-editor-course-plans-advantages>
			</details>
		</td>
		<td>
			<button (click)="remove(i)" (ngModelChange)="updateCourse()">
				Remove
			</button>
		</td>
	</tr>
	<tr>
		<td width="25%">
			<input type="text" name="plans.name" id="plans.name" [(ngModel)]="newPlan.name">
		</td>
		<td width="25%">
			<input type="text" name="plans.price" id="plans.price" [(ngModel)]="newPlan.price">
		</td>
		<td width="50%">
			<details>
				<summary>
					Advantages
				</summary>
				<app-editor-course-plans-advantages [advantages]="newPlan.advantages" (updateCourseEvent)="updateCourse()"></app-editor-course-plans-advantages>
			</details>
		</td>
		<td>
			<button (click)="add()" (ngModelChange)="updateCourse()">
				Add
			</button>
		</td>
	</tr>
</table>